<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
       <class name="systemscenerios.Amazon_Project.TestCase1_Login_cart_logout"/>
      <class name="systemscenerios.Amazon_Project.TestCase2_Login_PaymnetCOD_Logout"/>
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
